{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Categorias de receita</title>
    <link href="{% static 'css/crud/listar_pessoas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="corpo"> 
    <h1>Categorias Cadastradas</h1>

    
    <table> 
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for receita in object_list %}
            <tr>
                <div class="info">
                    <td>{{ receita.nome  }}</td>
                    <td>{{ receita.descricao }}</td>
                </div>
                <td>
                    <a href="{% url 'editar_receita' receita.id %}"><i class="bi bi-pencil-fill"></i></a>
                    <a href="{% url 'detalhe_receita' receita.id %}"><i class="bi bi-eye"></i></a>
                    <a href="{% url 'deletar_receita' receita.id %}"><i class="bi bi-trash"></i></a>
                </td>
                    
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="plus">
        <a href="{% url 'categoria_receitas' %}"><i class="bi bi-plus"></i></a>
    </div>
</html>