body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

div.novaPessoa{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}


div.cadastraNovaPessoa{
    color: rgba(235, 235, 235,0.7);
    text-align: center;
    background-color: #6608A4;
    width: auto;
    border-radius: 20px;
    padding: 50px;
    /* box-shadow: #DAA520 0px 5px 15px; */
    /* box-shadow: black 0px 7px 29px 0px; */
    box-shadow: black 0px 8px 24px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 10px;
}

label:hover {
    color: #DAA520;
}

input, select{
    border-radius: 20px;
    text-align: center;
    width: 25vw;
    height: 22px;
    border: none;
    background-color: rgba(177, 152, 194, 0.3);
    transition: 0.3s;
}  

input{
    margin-bottom: 10px;
    padding: 5px 10px;
}
textarea{
    height: 50px;
    width: 25vw;
    border-radius: 10px;
    text-align: center;
    border: none;
    resize: none;
    background-color: rgba(177, 152, 194, 0.3);
    transition: 0.3s;
    padding: 5px 10px;
}

select:active, input:active, textarea:active{
    opacity: 0.7;
}

a, button{
    font-size: 25px;
    margin: 0px auto 10px auto;
    color: rgba(235, 235, 235,0.7);
    font-weight: bold;
    transition: 0.3s;
}

a{
    margin-right: 30px;
}
button{
    margin-left: 30px;
    background-color: transparent;
    border: none;
}

a:hover, button:hover{
    color: #DAA520;
    opacity: 0.5;
    cursor: pointer;
}